.compTIAcard {
    margin: auto;
    height: 60vh;
    width: 80vh;
}

.p {
    color: black;
    font-size: calc(10px + 5vmin);
}

.front {
    font-size: calc(10px + 15vmin);
    color: blue;
}

.back {
    font-size: calc(10px + 15vmin);
    color: red;
}