.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.stats-text {
  width: fit-content;
}

.info-buttons {

  margin-left: 10px;
  margin-bottom: 10px;

}

.card {

  margin: 2%;

}

.alert {
  margin-top: 10px;
}

.alert-headings {
  font-weight: bolder;
  font-size : xxx-large;
}

.alert-subjects{
  font-weight: bold;
  font-size: xx-large;
}

.alert-li {
  text-align: left;
  font-size: x-large;
}

.alert-nested-li {
  text-align: left;
  font-size : large;
}

.masks-p {
  font-size: x-large;
}

.masks-subject-header {
  font-weight: bolder;
  font-size: xx-large;
}

.accordion-header{

}

.accordion-question {
  text-align: left;
  margin: inherit;
}

.accordion-answer {
  text-align: left;
  margin: inherit;
}

.table {
  border: 1px solid black;
  width: 75%;
  margin: auto;
  margin-top: 25px;
  align-items: center;
  align-self: center;
  align-content: center;
}

.tbody {
  column-width: inherit;
  column-span: inherit;
  padding: 10px;
}

.tdleft {
  float: left;
}

.tdcenter {
  margin: auto;
}

.tdright {
  float: right;
}

.table-row {
  border: 1px dashed black;
  padding: 10px;
}

.on-this-page{
  font-weight: bold;
  font-size: x-large;
  padding-top: 10px;
  margin-top: 20px;

}

.iframe {
  display: -webkit-box;
  height: 600px;
  margin: auto;
  width: 700px;
  border: none;
}

.cdc-widget-color-white {
  margin-top: 25%
}

.state-form {
}

.form-control {
  margin: 1%;
}

.enter-state{
  margin: auto;
}

.submit-button {
  margin: auto;
}
