.App {
  text-align: center;
  padding-top: 65px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.coronavirus-header {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card-top-heading {
  font-size: calc(10px + 3.5vw);
  font-weight: bolder;
}

.return-top {
  font-size: calc(10px + .5vw);
  text-align: left;

}

/* START Vaccines */
.vaccines-subject-header {
  font-weight: bolder;
  font-size: calc(10px + 2.5vw);
}

.vaccines-subject {
  font-size: calc(10px + 1.5vw);
  font-weight: bold;
}

.vaccines-li {
  font-size: calc(10px + 1vw);
  text-align: left;
}

.vaccines-li-li {
  font-size: calc(10px + .5vw);
  text-align: left;
}

.vaccines-li-li-li {
    font-size: calc(10px + .25vw);
    text-align: left;  
}

.vaccines-p {
  font-size: calc(10px + 1vw);
}

.vaccines-image {
  height: 75%;
  width: 75%;
}

.vaccines-big-image {
  height: 25%;
  width: 25%;
}

.vaccines-big-image1 {
  height: 25%;
  width: 25%;
  margin-bottom: 164px;
}

.vaccines-big-image2 {
  height: 50%;
  width: 50%;
}

/* END Vaccines */

/* START Prevent Getting Sick */

.prevent-subject-header {
  font-weight: bolder;
  font-size: calc(10px + 2.5vw);
}

.prevent-subject {
  font-size: calc(10px + 1.5vw);
  font-weight: bold;
}

.prevent-li {
  font-size: calc(10px + 1vw);
  text-align: left;
}

.prevent-li-li {
  font-size: calc(10px + .5vw);
  text-align: left;
}

.prevent-li-li-li {
    font-size: calc(10px + .25vw);
    text-align: left;  
}

.prevent-p {
  font-size: calc(10px + 1vw);
}

.prevent-image {
  height: 75%;
  width: 75%;
}

.prevent-big-image {
  height: 25%;
  width: 25%;
}

.prevent-big-image1 {
  height: 25%;
  width: 25%;
  margin-bottom: 164px;
}

.prevent-big-image2 {
  height: 50%;
  width: 50%;
}


/* END Prevent Getting Sick */



/* START Frequently Asked Questions */
/* END Frequently Asked Questions */


/* START Maskss */

.masks-subject-header {
  font-weight: bolder;
  font-size: calc(10px + 2.5vw);
}

.masks-subject {
  font-size: calc(10px + 1.5vw);
  font-weight: bold;
}

.masks-li {
  font-size: calc(10px + 1vw);
  text-align: left;
}

.masks-li-li {
  font-size: calc(10px + .5vw);
  text-align: left;
}

.masks-p {
  font-size: calc(10px + 1vw);
}

.masks-image {
  height: 75%;
  width: 75%;
}

.masks-big-image {
  height: 25%;
  width: 25%;
}

.masks-big-image1 {
  height: 25%;
  width: 25%;
  margin-bottom: 164px;
}

.masks-big-image2 {
  height: 50%;
  width: 50%;
}

/* END Masks */

/* START Symptoms */

.symptoms-header {
  font-size: calc(10px + 2vw);
  font-weight: bold;
}

.symptoms-li {
  font-size: calc(10px + 1vw);
  text-align: left;
}

.symptoms-li-li {
  font-size: calc(10px + 0.5vw);
  text-align: left;
}

.symptoms-subjects {
  font-size: calc(10px + 1vw);
  font-weight: bold;
}

.symptoms-p {
  font-size: calc(10px + 1vw);
}

.symptoms-subject-header {
  font-weight: bolder;
  font-size: xx-large;
}

.symptoms-image {
  height: 75%;
  width: 75%;
}

.symptoms-big-image {
  height: 25%;
  width: 25%;
}

.symptoms-big-image1 {
  height: 25%;
  width: 25%;
  margin-bottom: 164px;
}

.symptoms-big-image2 {
  height: 50%;
  width: 50%;
}

.symptoms-video {
  height: 30vw;
  width: 30vw;
}

/* END Symptoms */

/* START If You Are Sick */


.sick-subject-header {
  font-weight: bolder;
  font-size: calc(10px + 2.5vw);
}


.sick-subject {
  font-size: calc(10px + 1.5vw);
  font-weight: bold;
}

.sick-li {
  font-size: calc(10px + 1vw);
  text-align: left;
}

.sick-li-li {
  font-size: calc(10px + .5vw);
  text-align: left;
}

.sick-p {
  font-size: calc(10px + 1vw);
}

.sick-image {
  height: 75%;
  width: 75%;
}

.sick-big-image {
  height: 25%;
  width: 25%;
}

.sick-big-image1 {
  height: 25%;
  width: 25%;
  margin-bottom: 164px;
}

.sick-big-image2 {
  height: 50%;
  width: 50%;
}

/* END If You Are Sick */
.stats-text {
  width: fit-content;
}

.info-buttons {

  margin-left: 10px;
  margin-bottom: 10px;

}

.card {
  margin: 2%;
  margin-top: 0;
  margin-bottom: 1%;
}

.card-chart {
  background-color: white;
  margin-bottom: 3%;
  margin-top: 3%;
  /* width: calc(600px + 3.5vw);
  height: calc(450px + 3.5vw); */

  width: 90vw;
  height: 90vh;
  /* max-width: fit-content; */
}

.chart-td {
  border: none;
}

.chart-data {
  margin: auto; 
  width: 70vw; 
  height: 70vh;  
  max-width: -webkit-fill-available; 
  max-height: -webkit-fill-available;
}

/* .chart {
  margin: auto;
  width: 400px;
  height: 300px
} */

.alert {
  margin-top: 10px;
  margin: auto;
  width: 90%;
  padding: 0;
}

.alert-headings {
  font-weight: bolder;
  font-size : xxx-large;
}

.alert-subjects{
  font-weight: bold;
  font-size: xx-large;
}

.alert-li {
  text-align: left;
  font-size: x-large;
}

.alert-nested-li {
  text-align: left;
  font-size : large;
}


.accordion-header{

}

.accordion-question {
  /* text-align: left; */
  margin: 0;
}

.accordion-answer {
  text-align: left;
  margin: inherit;
}

.table {
  border: 1px solid black;
  width: 75%;
  margin: auto;
  margin-top: 25px;
  align-items: center;
  align-self: center;
  align-content: center;
}

.chart-table {
  border: none;
}

.y-axis{
  margin-top: 200%;
  border: none;
}

.x-axis {
  color: black;
}

.tbody {
  column-width: inherit;
  column-span: inherit;
  padding: 10px;
}

.tdleft {
  float: left;
}

.tdcenter {
  margin: auto;
}

.tdright {
  float: right;
}

.table-row {
  border: 1px dashed black;
  padding: 10px;
}

.on-this-page{
  font-weight: bold;
  font-size: x-large;
  padding-top: 10px;
  margin-top: 20px;

}

.iframe2 {
  display: -webkit-box;
  margin: auto;
  width: inherit;
  border: none;
}

.iframe2 {
  display: -webkit-box;
  margin: auto;
  width: inherit;
  height: -webkit-fill-available;
  border: none;
}

.iframe3{
  display: -webkit-box;
  margin: auto;
  width: 75%;
  border: none;

}

.self-checker {
  display: -webkit-box;
  height: 600px;
  margin: auto;
  width: -webkit-fill-available;
  border: none;
  margin-top: 50px;

}

.cdc-widget-color-white {
  margin-top: 25%
}

.state-form {
  margin-top: 2%;
}

.form-control {
  margin: auto;
  /* margin-right: 10px; */
}

.enter-state{
  /* margin: auto; */
  /* margin-right: 10px; */
}

.submit-button {
  margin: auto;
}

.box {
  background-color: white;
}

.red-text {
  display: inline;
  color: red;
}

.blue-text {
  display: inline;
  color: blue;
}

.days-vs-infected {

}